body {
  max-width: 960px;
}

#external-links {
  max-width: 30%;
  position: fixed;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 100px;
  padding-top: 10px;
}

main {
  padding-left: 35%;
  max-width: 70%;
  display: inline-block;

}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}


/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}

@media screen and (max-width: 500px) {
  #external-links {
    font-size: .8em;
    display: block;
    position: inherit;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  #external-links ul {
    display: inline;
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  main {
    display: block;
    position: inherit;
    padding: inherit;
    margin: auto;
  }
}