* { outline: 1px solid red; }

#octopus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#hat {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 355px;
	z-index: 1;
}

#glasses {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 355px;
	z-index: 1;
}